@media only screen and (min-width: 68rem ){
    .footer-grid{
        justify-content: space-evenly;
        column-gap: 2rem;
    }

    .footer-grid form label.top input{
        width:100%;
    }
   .footer-grid textarea{
        width:100%;
    }
    
    .home-main{
        max-width: 68rem;
        margin: auto;
        grid-template-areas:"a a a a a"
                            "s s s s s"
                            "s s s s s"
                            "w w r r r"
                            "w w t t t"
                            "w w t t t"

    }

    #alerts{
        grid-area:a;
    }

    #slideshow{
        grid-area:s;
    } 

    .home-main #reserve-now {
        grid-area:r;
    }

    .home-main #temple-summary {
        grid-area:t;
    }

    #weather{
        grid-area:w;
    }
    
    #weather #forecast{
    flex-direction: column;
    margin: 0;
    }

    .weatherDay:nth-child(2){
        display:block;
    }
    
    .weatherDay:nth-child(3){
        display:block;
    }

    #forecastBtn{display: none;}

    #reserve-now img {
        width: 50%;
    }
    #temple-summary img{
        width: 50%;
    }

    /*Temples section */
    #temple-section {
        margin: auto;
        max-width: 70rem;
    }
    /*Reservation page */
    #reservation form{
        width: 60rem; 
    }
}