@media only screen and (min-width: 37.5em){
    /* General elements */
    header{
        font-size: 1.2rem;
    }

    .hLogo img{
        width: 10rem;
    }

    .secondH img{
        width: 2.2rem;
    }

    .secondH button{
        height:2.3rem
    }

    /* footer*/

    .footer-grid{
        grid-template-columns:50% 50%;
        row-gap:1.8rem;
        font-size: 1.2rem;/*
        /* grid-template-rows: 50px 50px 50px 50px; */
    }

    .footer-grid .social-footer{
        grid-row: 4/5;
        grid-column: 1/2;
        margin-bottom:16px;
    }
    .footer-grid .social-footer img{
        width:2.5rem;
    }

    .footer-grid p:nth-child(3){
        grid-row: 2/3;
        grid-column: 1/2;
        margin: auto;
    }
    .footer-grid p:nth-child(4){
        grid-row: 3/4;
        grid-column: 1/2;
        margin-bottom: 0;
    }


/* Home Section Page*/
    .home-main{
        display: grid;
        grid-template-areas:/*"a a a a"*/
                            "s s s s"
                            "s s s s"
                            "r r t t"
                            "r r t t"
                            "w w w w"
                            "w w w w"
    }

    /* #alerts{
        grid-area:a;
    } */

    #slideshow{
        grid-area:s;
    }

    .home-main #reserve-now {
        grid-area:r;
    }

    .home-main #temple-summary {
        grid-area:t;
    }

    #weather {
        grid-area:w;
        margin: auto;
    }

    #weather #forecast{
        display: flex;
        margin: auto;
        justify-content: center;
        align-content: center;
    }

    #temple-section .temples{
        grid-template-columns: 1fr 1fr;
    }
}

